@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  background: #1d2123;
  color: white;
  /* font-family: sans-serif; */
}
.input-nobg {
  appearance: none;
  background: transparent;
  outline: none;
}
.mob-side-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.current-playlist {
  background-image: url('../public/assets/pexels.png');
  background-repeat: no-repeat;
  background-position: right;
}
.top-charts {
  display: flex;
  /* flex: 0 0 100vw; */
  width: 100%;
}
.top-charts::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 100vw;
  background: yellow;
  scroll-snap-align: start;
}

.truncateD {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shuffle-btn {
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(156px);
  font-size: 20px;
}
.player {
  background: rgba(29, 33, 35, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  box-sizing: border-box;
  height: 125px;
  width: 100vw;
}
.rhap_container {
  background: transparent;
  width: 60%;
  height: 0;
  padding: 0%;
}
.rhap_container .rhap_main {
  flex-direction: column-reverse;
  gap: 28px;
}
.rhap_container .rhap_main .rhap_controls-section {
  justify-content: center;
}
.rhap_container .rhap_main .rhap_controls-section .rhap_additional-controls {
  flex: none;
}
.rhap_container
  .rhap_main
  .rhap_controls-section
  .rhap_additional-controls
  .rhap_repeat-button {
  color: #fff;
}
.rhap_container .rhap_main .rhap_controls-section .rhap_volume-controls {
  flex: none;
  position: absolute;
  right: 24px;
  top: 50%;
  width: 15%;
  transform: translateY(-50%);
}
.rhap_container
  .rhap_main
  .rhap_controls-section
  .rhap_volume-controls
  .rhap_volume-button {
  color: #fff;
}

.rhap_container .rhap_progress-container {
  height: 12px;
}
.rhap_container .rhap_progress-container .rhap_progress-indicator {
  height: 12px;
  width: 12px;
  top: -3px;
  background: #facd66;
}
.rhap_container .rhap_progress-container .rhap_progress-filled {
  height: 4px;
  background: #facd66;
}
.rhap_container .rhap_progress-bar,
.rhap_container .rhap_download-progress,
.rhap_volume-bar-area .rhap_volume-bar {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 50px;
  height: 4px;
}
.rhap_container .rhap_main-controls {
  gap: 45px;
  margin: 0 45px;
}
.rhap_container .rhap_main-controls button {
  color: #facd66;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rhap_container .rhap_main-controls button:nth-child(2) {
  color: #fff;
  border-radius: 100%;
  background: #facd66;
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.3);
}
.playlist-tracks {
  background: rgba(51, 55, 59, 0.37);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.rhap_container .rhap_volume-bar-area .rhap_volume-filled {
  background-color: #facd66;
  border-radius: 50px;
  height: 4px;
}
.rhap_container .rhap_volume-bar-area .rhap_volume-indicator,
.rhap_time {
  display: none;
}

.collections {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.collections > *:first-child {
  background: linear-gradient(
    179.89deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(15, 18, 19, 0.85) 50.67%
  );
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 20px;
}

@keyframes equalizer {
  0% {
    height: 0;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 0;
  }
}

.equalizer-svg {
  background: linear-gradient(
    10.89deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(15, 18, 19, 0.85) 50.67%
  );
}
.equalizer-svg rect {
  color: #facd66;
  fill: #facd66;
}
.equalizer-svg .rect-1 {
  animation: equalizer 1.5s infinite;
}
.equalizer-svg .rect-2 {
  animation: equalizer 1.5s infinite;
  animation-delay: 1.5s;
}
.equalizer-svg .rect-3 {
  animation: equalizer 1.5s infinite;
  animation-delay: 1s;
}
.equalizer-svg .rect-4 {
  animation: equalizer 1.5s infinite;
  animation-delay: 0.5s;
}

@media screen and (max-width: 1024px) {
  .current-playlist {
    background-size: 480px;
    /* background:  lightgray 50% / cover no-repeat; */
  }
}

@media screen and (max-width: 640px) {
  .rhap_volume-controls,
  .rhap_progress-section,
  .shuffle-btn,
  .rhap_container .rhap_main .rhap_controls-section .rhap_additional-controls {
    display: none;
  }
  .rhap_container .rhap_main-controls button:first-child {
    display: none;
  }
  .rhap_container .rhap_main-controls button:last-child,
  .rhap_container .rhap_main-controls button:nth-child(2) {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .rhap_container .rhap_main-controls {
    gap: 20px;

    position: absolute;
    right: -28px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 410px) {
  .playlist-btn {
    flex-direction: column;
  }
  .playlist-btn > * {
    justify-content: center;
    border-radius: 10px;
  }
}
